<a href="https://colab.research.google.com/github/hari47350/google_colab_codes/blob/main/python_input_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programs Demonstrating Different Input Methods

This notebook demonstrates five Python programs using:
1. Hard-coded variables
2. Keyboard input
3. Single input from a file
4. Multiple inputs from a file
5. Writing output to a file

In [ ]:
# Program 1: Hard-coded variables

a = 10
b = 20

sum_result = a + b
product_result = a * b

print("Value of a:", a)
print("Value of b:", b)
print("Sum:", sum_result)
print("Product:", product_result)

Value of a: 10
Value of b: 20
Sum: 30
Product: 200

In [ ]:
# Program 2: Keyboard input

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)

Enter first number: 4
Enter second number: 5
Addition: 9
Subtraction: -1
Multiplication: 20

In [ ]:
# Creating input file
with open("single_input.txt", "w") as f:
    f.write("25")

In [ ]:
# Program 3: Single input from file

with open("single_input.txt", "r") as f:
    number = int(f.read())

print("Number from file:", number)
print("Square:", number * number)

Number from file: 25
Square: 625

In [ ]:
# Creating multiple input file
with open("multiple_input.txt", "w") as f:
    f.write("10\n20\n30\n40\n")

In [ ]:
# Program 4: Multiple inputs from file

numbers = []

with open("multiple_input.txt", "r") as f:
    for line in f:
        numbers.append(int(line.strip()))

print("Numbers:", numbers)
print("Sum:", sum(numbers))
print("Maximum:", max(numbers))
print("Minimum:", min(numbers))

Numbers: [10, 20, 30, 40]
Sum: 100
Maximum: 40
Minimum: 10

In [ ]:
# Program 5: Save output to file

a = 15
b = 5

add = a + b
mul = a * b

with open("output.txt", "w") as f:
    f.write(f"Addition: {add}\n")
    f.write(f"Multiplication: {mul}\n")

print("Results saved to output.txt")

Results saved to output.txt

In [ ]:
# Program 6: Hardcoded dictionary

student = {
    "name": "Hari",
    "marks": [78, 85, 90]
}

total = sum(student["marks"])
average = total / len(student["marks"])

print("Student Name:", student["name"])
print("Total Marks:", total)
print("Average Marks:", average)

Student Name: Hari
Total Marks: 253
Average Marks: 84.33333333333333

In [ ]:
# Program 7: Keyboard input (even/odd)

num = int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

Enter a number: 9
The number is Odd

In [ ]:
# Program 8: File input (single value - factorial)

with open("factorial_input.txt", "w") as f:
    f.write("6")

with open("factorial_input.txt", "r") as f:
    n = int(f.read())

fact = 1
for i in range(1, n + 1):
    fact *= i

print("Number:", n)
print("Factorial:", fact)

Number: 6
Factorial: 720

In [ ]:
# Program 9: Multiple file inputs

with open("numbers_sign.txt", "w") as f:
    f.write("-3\n5\n-1\n7\n0\n")

positive = negative = zero = 0

with open("numbers_sign.txt", "r") as f:
    for line in f:
        num = int(line.strip())
        if num > 0:
            positive += 1
        elif num < 0:
            negative += 1
        else:
            zero += 1

print("Positive numbers:", positive)
print("Negative numbers:", negative)
print("Zero values:", zero)

Positive numbers: 2
Negative numbers: 2
Zero values: 1

In [ ]:
# Program 10: File output with debugging

try:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))

    result = a / b

    with open("division_result.txt", "w") as f:
        f.write(f"Result: {result}")

    print("Result saved successfully")

except ZeroDivisionError:
    print("Error: Division by zero is not allowed")

except ValueError:
    print("Error: Invalid input, please enter numbers")

Enter first number: 4
Enter second number: 6
Result saved successfully

In [7]:
# Program 11: Hardcoded tuple

values = (12, 45, 7, 89, 34)

largest = values[0]
for v in values:
    if v > largest:
        largest = v

print("Tuple values:", values)
print("Largest value:", largest)

Tuple values: (12, 45, 7, 89, 34)
Largest value: 89

In [8]:
# Program 12: Keyboard input (palindrome)

text = input("Enter a word: ")

if text == text[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a word: 45
Not a palindrome

In [9]:
# Program 13: File input (single value)

with open("temperature.txt", "w") as f:
    f.write("36")

with open("temperature.txt", "r") as f:
    celsius = int(f.read())

fahrenheit = (celsius * 9 / 5) + 32

print("Celsius:", celsius)
print("Fahrenheit:", fahrenheit)

Celsius: 36
Fahrenheit: 96.8

In [10]:
# Program 14: Multiple file inputs (grades)

with open("marks_list.txt", "w") as f:
    f.write("92\n81\n67\n45\n38\n")

grades = []

with open("marks_list.txt", "r") as f:
    for line in f:
        mark = int(line.strip())
        if mark >= 90:
            grades.append("A")
        elif mark >= 75:
            grades.append("B")
        elif mark >= 50:
            grades.append("C")
        else:
            grades.append("Fail")

print("Grades:", grades)

Grades: ['A', 'B', 'C', 'Fail', 'Fail']

In [11]:
# Program 15: File output with exception handling

try:
    name = input("Enter your name: ")
    score = int(input("Enter your score: "))

    status = "Pass" if score >= 40 else "Fail"

    with open("result_status.txt", "w") as f:
        f.write(f"Name: {name}\n")
        f.write(f"Score: {score}\n")
        f.write(f"Result: {status}")

    print("Result saved to file")

except ValueError:
    print("Error: Please enter valid numeric score")

Enter your name: hari
Enter your score: 96
Result saved to file

## Debugging and Error Fixing

- **Error**: FileNotFoundError  
  **Reason**: File was accessed before creation  
  **Fix**: Created the file using write mode before reading

- **Error**: ValueError  
  **Reason**: Newline characters in file input  
  **Fix**: Used strip() before converting to int